<div class="header">
    <h2>
        {{title}}
    </h2>
</div>

<div class="container">
    <div class="player paused">
        <div class="album">
            <div class="cover">
                <div><img [src]='track.artwork_url' /></div>
            </div>
        </div>

        <div class="info">
            <div class="time">
                <span class="current-time">0:00</span>
                <span class="progress" [ngStyle]="{'background-image': track.waveform_url}"><span></span></span>
                <span class="duration">0:00</span>
            </div>

            <h1>{{track.title}}</h1>
            <h2>{{track.genre}}</h2>
        </div>

        <div class="actions">
            <button class="button play-pause">
        <div class="arrow"></div>
      </button>

        </div>

        <audio prelaod [src]='track.stream_url'></audio>
    </div>
</div>